.bodyWhite{
    background-color:white;
    overflow: hidden;
}
.body{
    background-color:#f0f2f5
}
.p-font{
    text-align:center;
    font-size:25px;
    font-family:Arial;
    margin-bottom:20px;
}
 .padding-right{
     padding-right:0px;
 }
 .Margin-top
 {
    height:60px;
    width:100%;
    
 }