.divContaner
{
    width: 300px;
}
.divBlock
{
    height: 140px;
    width: 260px;
    margin-left: 20px;
    background: chocolate;
}
.divBlock>label
{
    font-size: 30px;
    line-height: 90px;
}
