name: Deploy to GitHub Pages
on:
  push:
    branches:
      - client/develop
      - master
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master
      
    - name: node install
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'

    - name: Install
      run: npm install

    - name: deploy
      run: npm run deploy
